{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container recetas">
	<h2>Control de procesos</h2>
	<div class="row">
		<button type="button" class="btn btn-success" onclick="guardar()"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span><span>Guardar</span></button>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h5>Que fabricar</h5>
			<ul id="recetas" class="productos-buscados">
				{% for receta in recetas %}
				<li class="list-group-item" data-receta="{{ receta.receta }}" data-producto="{{ receta.producto }}" data-descripcion="{{ receta.descripcion }}"><span>{{ receta.descripcion }}</span></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="row">
				<h5>Flujos</h5>
				<ul id="flujo" class="ingredientes"></ul>
			</div>
			<div class="row">
				<h5>Productos</h5>
				<input type="text" class="form-control" name="buscar" id="buscar" placeholder="buscar">
				<ul id="productos" class="productos-buscados"></ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function () {
Sortable.create(recetas, { 
group: "flujos",
onAdd: function (evt) {
var itemEl = evt.item
var clave = $(itemEl).attr('data-clave')
$("[name=cantidad_" + clave + "]").remove()
}
})

Sortable.create(flujo, { 
group: "flujos", 
onAdd: function (evt) {
var itemEl = evt.item
var clave = $(itemEl).attr('data-clave')
var costo = parseFloat($(itemEl).attr('data-costo'))
$(itemEl).html($(itemEl).html() + '<input type="text" name="cantidad_' + clave + '" class="form-control cantidad" placeholder="cantidad" data-clave="' + clave + '" data-costo="' + costo + '" data-descr="' + $(itemEl).attr('data-descr') + '">')
$("[name=cantidad_" + clave + "]").focus()
}
})

$("#buscar").keypress(function(event) {
	if(event.which == 13) {
		buscar()
	}
	})
})

function buscar() {
	loader.show();
	sincco.consumirAPI('POST',BASE_URL + 'catalogo/productos/apibuscar',{ campo:'DESCR', valor:'%' + $('#buscar').val().toUpperCase() + '%', comparacion:'LIKE' })
	.done(function(data) {
		if(data)
			$("#productos").html('')
		$(data).each(function() {
			var elemento = '<li class="list-group-item" data-clave="' + this.CVE_ART + '" data-costo="' + 0 + '" data-descr="' + this.DESCR + '"><span>' + this.CVE_ART + ' ' + this.DESCR + '</span></li>';
			$("#productos").html($("#productos").html() + elemento);
			loader.hide();
		})
	})
	.fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error( 'Error al efectuar la operación.', 'Intenta de nuevo' );
		loader.hide();
	})
}

function guardar() {
	loader.show();
	var productos = []
	$("[name^='cantidad_']").each(function() {
		producto = new Object()
		producto.clave = $(this).attr('data-clave')
		producto.descripcion = $(this).attr('data-descr')
		producto.cantidad = $(this).val()
		producto.costo = parseFloat($(this).attr('data-costo'))
		productos.push(producto)
	})
	sincco.consumirAPI('POST',BASE_URL + 'produccion/recetas/apialta',{ claveProducto:$("#claveProducto").val(), descripcionProducto: $('#claveProducto').children("option:selected").text(), unidadMedida:$("#unidadMedida").val(), ingredientes:productos })
	.done(function(data) {
		if(data.respuesta > 0) {
			toastr.success( 'Receta guardada', 'Éxito' );
			window.location = '{BASE_URL}produccion/recetas'
			loader.hide();
		}
		else {
			toastr.error( 'Error al efectuar la operación.', 'Intenta de nuevo' );
			loader.hide();
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error( 'Error al efectuar la operación.', 'Intenta de nuevo' );
		loader.hide();
	})
}

</script>

{% include 'footer.html' %}