{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container recetas">
	<h2>Control de procesos</h2>
	<div class="row">
		<button type="button" class="btn btn-success" onclick="guardar()"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span><span>Guardar</span></button>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h5>Que fabricar</h5>
			<ul id="recetas" class="ingredientes">
				{% for receta in recetas %}
				<li class="list-group-item" data-receta="{{ receta.receta }}" data-producto="{{ receta.producto }}" data-descripcion="{{ receta.descripcion }}"><span>{{ receta.descripcion }}</span></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h5>En producción</h5>
			<ul id="produccion" class="ingredientes"></ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h5>Terminado</h5>
			<ul id="terminado" class="ingredientes"></ul>
		</div>
	</div>


</div>

<script type="text/javascript">
$(function () {
	Sortable.create($('#recetas').get(0) , { group: "flujo", sort: false })
	Sortable.create($('#produccion').get(0) , { group: "flujo", sort: false })
	Sortable.create($('#terminado').get(0) , { group: "flujo", sort: false })
});
</script>

{% include 'footer.html' %}