{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Proyectos</h1>
		<button type="button" class="btn btn-success" onclick="nuevaCaptura();"><i class="fa fa-plus-circle" aria-hidden="true"> <span>Nuevo</span></i></button>
		<table data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
			<thead>
				<tr>
					<th data-field="clave">Clave</th><th data-field="titulo">Título</th><th data-field="estatus">Estatus</th><th></th>
				</tr>
			</thead>
			<tbody>
				{% for proyecto in proyectos %}
				<tr>
					<td>{{ proyecto.clave|trim }}</td>
					<td>{{ proyecto.titulo|trim }}</td>
					<td>{{ proyecto.estatus|trim }}</td>
					<td>
						<button type="button" class="btn btn-primary btn-xs" onclick="jQuery.redirect(BASE_URL + 'gonzalez/proyectos/cotizacion', { 'idProyecto': {{ proyecto.idProyecto|trim }} });"><i class="fa fa-tasks" aria-hidden="true"> <span>Lista de productos</span></i></button>
						<button type="button" class="btn btn-info btn-xs" onclick="jQuery.redirect(BASE_URL + 'gonzalez/proyectos/formato', { 'idProyecto': {{ proyecto.idProyecto|trim }} },'POST','_blank');"><i class="fa fa-print" aria-hidden="true"> <span>Formato</span></i></button>
						<button type="button" class="btn btn-warning btn-xs" onclick="adjuntarArchivos('{{ proyecto.clave|trim }}');"><i class="fa fa-paperclip" aria-hidden="true"> <span>Archivos</span></i></button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="modal-nueva" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Registrar nuevo proyecto</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-4">
								<input type="hidden" class="form-control col-xs-12" name="idProyecto">
								<label>Clave</label> <input type="text" class="form-control col-xs-12" name="clave">
							</div>
							<div class="col-xs-8">
								<label>Título</label> <input type="text" class="form-control col-xs-12" name="titulo">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8">
								<label>Resumen</label> <textarea class="form-control" rows="3" name="resumen"></textarea>
							</div>
							<div class="col-xs-4">
								<label>Estatus</label> <select class="form-control col-xs-12" name="estatus"><option value="Pendiente">Pendiente</option><option value="Cotizado">Cotizado</option><option value="Aprobado">Aprobado</option><option value="En proceso">En proceso</option><option value="Cancelado">Cancelado</option><option value="Terminado">Terminado</option><option value="Pausado">Pausado</option></select></label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<label>Cliente</label> <input type="text" class="form-control col-xs-12" name="cliente">
							</div>
							<div class="col-xs-6">
								<label>Contacto</label> <input type="text" class="form-control col-xs-12" name="contacto">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<label>Planta</label> <input type="text" class="form-control col-xs-12" name="planta">
							</div>
							<div class="col-xs-6">
								<label>Project Manager</label> <input type="text" class="form-control col-xs-12" name="projectManager">
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<label>Lugar Entrega</label> <input type="text" class="form-control col-xs-12" name="lugarEntrega">
							</div>
							<div class="col-xs-4">
								<label>Cantidad Izquierda</label> <input type="text" class="form-control col-xs-12" name="cantidadLh">
							</div>
							<div class="col-xs-4">
								<label>Cantidad Derecha</label> <input type="text" class="form-control col-xs-12" name="cantidadRh">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" onclick="guardarCaptura($('form').serializeJSON())"><i class="fa fa-cloud" aria-hidden="true"> <span>Guardar</span></i></button>
			</div>
		</div>
	</div>
</div>

<div id="modal-archivos" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Documentos Adjuntos</h4>
			</div>
			<div class="modal-body" style="overflow: scroll; max-height: 400px !important;">
				<div class="row adjuntos-previo"></div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<input type="hidden" class="form-control col-xs-12" name="idProyectoAdjunto">
					<div class="col-xs-12">
						<div class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
						Arrastra tus archivos o <a class="resumable-browse"><u>seleccionalos de tu dispositivo</u></a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="resumable-progress">
					<table>
					<tr>
					<td width="100%"><div class="progress-container"><div class="progress-bar"></div></div></td>
					<td class="progress-text" nowrap="nowrap"></td>
					<td class="progress-pause" nowrap="nowrap"></td>
					</tr>
					</table>
					</div>
					<ul class="resumable-list"></ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$('table').on('dbl-click-row.bs.table', function (row, element) {
	sincco.consumirAPI('GET',BASE_URL + 'api/gonzalez/proyectos/clave/' + element.clave)
	.done(function(data) {
		loader.hide();
		var proyecto = data.respuesta[0];
		$('form input[name=idProyecto]').val(proyecto.idProyecto);
		$('form input[name=clave]').val(proyecto.clave);
		$('form input[name=titulo]').val(proyecto.titulo);
		$('form textarea[name=resumen]').val(proyecto.resumen);
		$('form input[name=estatus]').val(proyecto.estatus);
		$('form input[name=cliente]').val(proyecto.cliente);
		$('form input[name=contacto]').val(proyecto.contacto);
		$('form input[name=planta]').val(proyecto.planta);
		$('form input[name=projectManager]').val(proyecto.projectManager);
		$('form input[name=lugarEntrega]').val(proyecto.lugarEntrega);
		$('form input[name=cantidadLh]').val(proyecto.cantidadLh);
		$('form input[name=cantidadRh]').val(proyecto.cantidadRh);
		$('#modal-nueva').modal('show');
	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
		toastr.error('Error al hacer la petición.', 'Intenta de nuevo');
		loader.hide();
	})
});

function nuevaCaptura() {
	$('form input').val('');
	$('form input[name=idProyecto]').val(0);
	$('#modal-nueva').modal('show');
}

function adjuntarArchivos(idProyecto) {
	$('form input').val('');
	loader.show();
	cargaAdjuntos(idProyecto);
	var r = new Resumable({
		target: BASE_URL + 'images/upload',
		headers: {target: idProyecto},
		maxChunkRetries: 2,
		maxFiles: 10,
		prioritizeFirstAndLastChunk: true,
		simultaneousUploads: 4
	});
	var claveProyecto = idProyecto;
	// Resumable.js isn't supported, fall back on a different method
	if(!r.support) {
		$('.resumable-error').show();
	} else {
		// Show a place for dropping/selecting files
		$('.resumable-drop').show();
		r.assignDrop($('.resumable-drop')[0]);
		r.assignBrowse($('.resumable-browse')[0]);
		// Handle file add event
		r.on('fileAdded', function(file){
			// Show progress pabr
			$('.resumable-progress, .resumable-list').show();
			// Show pause, hide resume
			$('.resumable-progress .progress-resume-link').hide();
			$('.resumable-progress .progress-pause-link').show();
			// Add the file to the list
			$('.resumable-list').append('<li class="resumable-file-'+file.uniqueIdentifier+'">Uploading <span class="resumable-file-name"></span> <span class="resumable-file-progress"></span>');
			$('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-name').html(file.fileName);
			// Actually start the upload
			console.log(file);
			r.upload();
		});
		r.on('pause', function(){
			// Show resume, hide pause
			$('.resumable-progress .progress-resume-link').show();
			$('.resumable-progress .progress-pause-link').hide();
		});
		r.on('complete', function(){
			// Hide pause/resume when the upload has completed
			$('.resumable-progress .progress-resume-link, .resumable-progress .progress-pause-link').hide();
			cargaAdjuntos(claveProyecto);
		});
		r.on('fileSuccess', function(file,message){
			// Reflect that the file upload has completed
			$('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html('(completed)');
		});
		r.on('fileError', function(file, message){
			// Reflect that the file upload has resulted in error
			$('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html('(file could not be uploaded: '+message+')');
		});
		r.on('fileProgress', function(file){
			// Handle progress for both the file and the overall upload
			$('.resumable-file-'+file.uniqueIdentifier+' .resumable-file-progress').html(Math.floor(file.progress()*100) + '%');
			$('.progress-bar').css({width:Math.floor(r.progress()*100) + '%'});
		});
		loader.hide();
	}

	$('#modal-archivos').modal('show');	
}

function cargaAdjuntos(idProyecto) {
	sincco.consumirAPI('GET',BASE_URL + 'api/v1/proyectosadjuntos/idProyecto/' + idProyecto)
	.done(function(data) {
		$('.adjuntos-previo').html('');
		var files = '';
		$(data.files).each(function() {
			if (this.type == 'image') {
				$('.adjuntos-previo').append('<div class="col-xs-3"><div class="thumbnail"><img src="' + BASE_URL + this.path + '"><div class="caption"><h6>' + this.name + '</h6></div><a href="#" class="btn btn-primary btn-xs" role="button" onclick="window.open(\'' + BASE_URL + this.path + '\');console.log(this.href);"><i class="fa fa-eye" aria-hidden="true"> <span>Ver</span></i></a></div></div>');
			} else {
				$('.adjuntos-previo').append('<div class="col-xs-3"><div class="thumbnail"><img src="' + BASE_URL + 'html/img/attachment.png"><div class="caption"><h6>' + this.name + '</h6></div><a href="#" class="btn btn-primary btn-xs" role="button" onclick="window.open(\'' + BASE_URL + this.path + '\');console.log(this.href);"><i class="fa fa-eye" aria-hidden="true"> <span>Ver</span></i></a></div></div>');
			}
		});
	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
		toastr.error('Error al hacer la petición.', 'Intenta de nuevo');
		loader.hide();
	})
}

function guardarCaptura(data) {
	loader.show();
	var method = 'POST';
	if(data.idProyecto > 0) {
		method = 'PUT';
	}
	sincco.consumirAPI(method,BASE_URL + 'api/gonzalez/proyectos',{data:data})
	.done(function(data) {
		loader.hide();
		if (data.respuesta) {
			window.location = BASE_URL + 'gonzalez/proyectos';
		} else {
			toastr.error('Error al hacer la petición.', 'Intenta de nuevo');
		}
	}).fail(function(jqXHR, textStatus, errorThrown) {
		console.log(errorThrown);
		toastr.error('Error al hacer la petición.', 'Intenta de nuevo');
		loader.hide();
	})
}
</script>

{% include 'footer.html' %}
