{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
  {% for proyecto in proyectos %}
  <div class="page-header">
    <div class="col-xs-6">
      <h2>{{ proyecto.clave|trim }}<small>{{ proyecto.titulo|trim }}</small></h2>
      <h4>{{ proyecto.estatus|trim }}</h4>
    </div>
    <div class="col-xs-6">
      <h6>{{ proyecto.resumen|trim }}</h6>
    </div>
  </div>
  <input type="hidden" id="idProyecto" value="{{proyecto.idProyecto}}">
  <input type="hidden" id="cantidadLh" value="{{proyecto.cantidadLh}}">
  <input type="hidden" id="cantidadRh" value="{{proyecto.cantidadRh}}">
  {% endfor %}
	</div>


	<div class="row">
    <div class="col-xs-6">
      <button type="button" class="btn btn-default" onclick="$.redirect(BASE_URL + 'gonzalez/proyectos',{idProyecto:$('#idProyecto').val()}, 'POST');"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"><span> Regresar</span></i></button>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">
          Lista de precios
        </div>
        <div class="col-xs-6">
          <select id="lista-precio" class="form-control col-xs-6">
          {% for precio in precios %}
          <option value="{{precio.CVE_PRECIO|trim}}">{{precio.DESCRIPCION|trim}}</option>
          {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-2">
      <button type="button" class="btn btn-success" onclick="guardar($('#idProyecto').val());"><i class="fa fa-hdd-o" aria-hidden="true"><span> Guardar</span></i></button>
    </div>
	</div>

  <hr>

	<div class="row">
    <div class="col-xs-12">
		  <div id="grid-venta" class="handsontable"></div>
    </div>
	</div>

</div>

<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modal-titulo" class="modal-title">Buscar producto</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="fila-actual">
        <table id="tabla-productos"></table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var
  grid = document.getElementById('grid-venta'),
  hot,
  data = [
    {% for data in productos %}
      ['{{data.producto}}','{{data.descripcion}}',{{data.precio}},'{{data.hoja}}','{{data.det}}','{{data.subDet}}',{{data.cutFit}},{{data.ncMach}},{{data.conventionalMach}},{{data.welding}},{{data.finishing}},{{data.assyPacking}},{{data.laserService}},{{data.installation}}],
    {% endfor %}];
crearTabla();
var fila = 0;
$(data).each(function() {
  hot.setDataAtCell(fila, 0, data[fila][0]);
  hot.setDataAtCell(fila, 1, data[fila][1]);
  hot.setDataAtCell(fila, 2, data[fila][2]);
  hot.setDataAtCell(fila, 4, data[fila][3]);
  hot.setDataAtCell(fila, 5, data[fila][4]);
  hot.setDataAtCell(fila, 6, data[fila][5]);
  hot.setDataAtCell(fila, 7, data[fila][6]);
  hot.setDataAtCell(fila, 8, data[fila][7]);
  hot.setDataAtCell(fila, 9, data[fila][8]);
  hot.setDataAtCell(fila, 10, data[fila][9]);
  hot.setDataAtCell(fila, 11, data[fila][10]);
  hot.setDataAtCell(fila, 12, data[fila][11]);
  hot.setDataAtCell(fila, 13, data[fila][12]);
  hot.setDataAtCell(fila, 14, data[fila][13]);
  fila++;
})


function crearTabla () {
  hot = new Handsontable(grid, {
    data: data,
    minSpareRows: 1,
    colHeaders: true,
    rowHeaders: true,
    fixedRowsTop: 0,
    startCols: 4,
    contextMenu: [],
    colHeaders: ['Clave', 'Descripcion', 'Precio', 'Subtotal', 'Hoja', 'Det', 'Sub-Det','Cut & Fit','NC Mach','Conventional Mach','Welding','Finishing','Assy / Packing','Laser Service','Installation'],
    columns: [
      {data:'clave'},
      {data:'descripcionCorta',readOnly: false},
      {data:'precio', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'subtotal', type: 'numeric', format: '0,0.000', language: 'en', readOnly: true},
      {data:'hoja'},
      {data:'det'},
      {data:'subdet'},
      {data:'cut_fit', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'nc_mach', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'conventional_mach', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'welding', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'finishing', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'assy_packing', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'laser_service', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'installation', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false}
    ], 
    afterChange: function (changes, source) {
      if ((source == 'edit' || source == 'paste')) {
        if (changes[0][1] == "clave") {
          if (changes[0][3] == "@@") {
            hot.setDataAtCell(changes[0][0], 1, 'Producto personalizado')
            hot.setDataAtCell(changes[0][0], 2, '1.00')
            hot.setDataAtCell(changes[0][0], 3, 1)
          } else {
            var cve = changes[0][3];
            if (typeof cve === 'undefined') {
              return;
            }
            if (cve.trim() != '' || cve.trim() != '@@') {
              sincco.consumirAPI('POST', '{{constant("BASE_URL")}}catalogo/productos/apiClave', { data: cve.trim(), listaPrecio: $('#lista-precio').val() })
              .done(function(data) {
                if (data.length) {
                  hot.setDataAtCell(changes[0][0], 1, data[0].DESCR)
                  hot.setDataAtCell(changes[0][0], 2, data[0].PRECIO)
                } else {
                  hot.setDataAtCell(changes[0][0], 1, 'NO EXISTE')
                  toastr.error('El producto no existe.', 'Intenta de nuevo')
                }
              }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown)
              })
            }
          }
        }
        if (changes[0][1] == "precio" || changes[0][1] == "cut_fit" || changes[0][1] == "nc_mach" || changes[0][1] == "conventional_mach" || changes[0][1] == "welding" || changes[0][1] == "finishing" || changes[0][1] == "assy_packing" || changes[0][1] == "laser_service" || changes[0][1] == "installation") {

          var precio = parseFloat(hot.getDataAtCell(changes[0][0], 2));
          var montoLh = parseFloat($('#cantidadLh').val());
          var montoRh = parseFloat($('#cantidadRh').val());
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 7)))) {
            var col_7 = 0;
          } else {
            var col_7 = parseFloat(hot.getDataAtCell(changes[0][0], 7));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 8)))) {
            var col_8 = 0;
          } else {
            var col_8 = parseFloat(hot.getDataAtCell(changes[0][0], 8));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 9)))) {
            var col_9 = 0;
          } else {
            var col_9 = parseFloat(hot.getDataAtCell(changes[0][0], 9));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 10)))) {
            var col_10 = 0;
          } else {
            var col_10 = parseFloat(hot.getDataAtCell(changes[0][0], 10));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 11)))) {
            var col_11 = 0;
          } else {
            var col_11 = parseFloat(hot.getDataAtCell(changes[0][0], 11));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 11)))) {
            var col_11 = 0;
          } else {
            var col_11 = parseFloat(hot.getDataAtCell(changes[0][0], 11));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 12)))) {
            var col_12 = 0;
          } else {
            var col_12 = parseFloat(hot.getDataAtCell(changes[0][0], 12));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 13)))) {
            var col_13 = 0;
          } else {
            var col_13 = parseFloat(hot.getDataAtCell(changes[0][0], 13));
          }
          if (isNaN(parseFloat(hot.getDataAtCell(changes[0][0], 14)))) {
            var col_14 = 0;
          } else {
            var col_14 = parseFloat(hot.getDataAtCell(changes[0][0], 14));
          }
          var subtotalLh = (parseFloat(col_7) * montoLh * precio) + (parseFloat(col_8) * montoLh * precio) + (parseFloat(col_9) * montoLh * precio) + (parseFloat(col_10) * montoLh * precio) + (parseFloat(col_11) * montoLh * precio) + (parseFloat(col_12) * montoLh * precio) + (parseFloat(col_13) * montoLh * precio) + (parseFloat(col_14) * montoLh * precio);
          var subtotalRh = (parseFloat(col_7) * montoRh * precio) + (parseFloat(col_8) * montoRh * precio) + (parseFloat(col_9) * montoRh * precio) + (parseFloat(col_10) * montoRh * precio) + (parseFloat(col_11) * montoRh * precio) + (parseFloat(col_12) * montoRh * precio) + (parseFloat(col_13) * montoRh * precio) + (parseFloat(col_14) * montoRh * precio);
          hot.setDataAtCell(changes[0][0], 3, subtotalLh + subtotalRh);
        }
      }
    }
  })

  hot.updateSettings({
    beforeKeyDown: function (e) {
      var selection = hot.getSelected()
      if (e.keyCode == 113) {
        $('#fila-actual').val(selection[0])
        loader.show()
        e.preventDefault()
        lastChange = null
        e.stopImmediatePropagation();
        $('#tabla-productos').bootstrapTable({
          method: 'get',
          url: '{{constant('BASE_URL')}}catalogo/productos/apicatalogo',
          columns: [{ field:'CVE_ART', title:'Clave' }, { field:'DESCR', title:'Descripcion' }, { field:'UNI_MED', title:'Unidad' }],
          height: 300,
          striped: true,
          pagination: true,
          pageSize: 50,
          pageList: [50, 100, 200],
          search: true,
          showColumns: true,
          showRefresh: true,
          showExport: true,
          mobileResponsive: true,
          minimumCountColumns: 2
        })
        $('#modal').modal('show')
        loader.hide()
      }
    }
  })
}

function guardar(idProyecto) {
  loader.show()
  sincco.consumirAPI('POST',BASE_URL + 'gonzalez/proyectos/cotiza', { data: [{idProyecto: idProyecto, productos: hot.getData() }] })
  .done(function(data) {
    if (data.respuesta) {
      hot.loadData([])
      toastr.success('Cotización asignada a la tarea.', 'Éxito');
      $.redirect(BASE_URL + 'gonzalez/proyectos',{idProyecto:$('#idProyecto').val()}, 'POST');
      loader.hide()
    } else {
       toastr.error('Hubo un error al guardar los datos.', 'Intenta de nuevo');
       loader.hide()
     }
  }).fail(function(jqXHR, textStatus, errorThrown) {
    console.log('Error',errorThrown)
    loader.hide()
  })
}

$('#tabla-productos').on('dbl-click-row.bs.table', function (row, element) {
  hot.setDataAtCell($('#fila-actual').val(), 0, element.CVE_ART)
  $('#modal').modal('hide')
})
</script>
{% include 'footer.html' %}