{% include 'header.html' %}
{% include 'menu.html' %}

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<div class="container">
    <div class="row">
        <h1>Entregas del día</h1>
        <button type="button" class="btn btn-warning" onclick="ruta()"><i class="fa fa-map" aria-hidden="true"><span> Planificar ruta</span></i></button>
        <table id="pedidos" data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="pedido">Pedido</th><th data-sortable="true" data-field="producto">Producto</th><th data-sortable="true" data-field="unidad">Unidad</th><th data-sortable="true" data-field="operador">Operador</th><th data-sortable="true" data-field="cantidad">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for entrega in entregas %}
                <tr>
                    <td>{{ entrega.pedido|trim }}</td>
                    <td>{{ entrega.producto|trim }}</td>
                    <td>{{ entrega.noEco|trim }}</td>
                    <td>{{ entrega.nombre|trim }}</td>
                    <td>{{ entrega.cantidad|trim }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="ruta" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="modal-titulo" class="modal-title">Ruta sugerida</h4>
            </div>
            <div class="modal-body">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ruta() {
        loader.show()
        var pedidos = [];
        var data = $('#pedidos').bootstrapTable('getData');
        $(data).each(function() {
            pedidos.push(this.pedido);
        });
        jQuery.unique(pedidos);
        sincco.consumirAPI('GET',BASE_URL + 'api/v1/pedidos/pedidos/' + pedidos)
        .done(function(data) {
            $(data.pedidos).each(function(){
                sincco.consumirAPI('GET',BASE_URL + 'api/v1/clientes/cliente/' + this.CVE_CLIENTE.trim())
                .done(function(data) {
                    sincco.consumirAPI('GET','http://maps.google.com/maps/api/geocode/json?address=' + data.NUMEXT + '+' + data.CALLE + ',+' + data.MUNICIPIO + ',+' + data.ESTADO)
                    .done(function(data) {
                        console.log(data);
                    });
                });
            });
            loader.hide()
            toastr.success('Pedidos actualizados.', 'Éxito')
        }).fail(function(jqXHR, textStatus, errorThrown) {
            toastr.error('Hubo un error al consultar los datos.', 'Intenta de nuevo')
            loader.hide()
        })
    }
</script>

{% include 'footer.html' %}