{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">

	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">Pedidos solicitados</h1>
	    </div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div id="calendario"></div>
		</div>
		<div class="col-lg-9">
			<table id="entregas-detalle" style="height: 50%;"></table>
		</div>
	</div>
</div>

<div id="modal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">
                    Programación de entregas
                    <button type="button" class="btn btn-success btn-xs" onclick="guardar()"><i class="fa fa-hdd-o" aria-hidden="true"><span> Guardar</span></i></button>
                </h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-9">
                        <p>Pedido <strong><span class="pedido"></span></strong></p>
						<p>Entregar <strong><span class="producto"></span></strong> a <strong><span class="cliente"></span></strong></p>
					</div>
					<div class="col-xs-3">
						<p><strong><span class="cantidad"></span></strong> unidades pedidas</p>
                        <p><strong><span class="cantidad-pendiente"></span></strong> unidades x programar</p>
					</div>
				</div>
				<div class="row">
                    <div class="col-xs-12">
					   <div id="grid-entregas" class="handsontable"></div>
                        
                    </div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>


<script type="application/javascript">
var hot;

$(document).ready(function () {
    $('#calendario').zabuto_calendar({
        year: 2014,
        month: 12,
        cell_border: true,
        today: true,
        action: function () {
            detalle(this.id);
        },
        ajax: {
            url: BASE_URL + 'transporte/envios/apicalendario',
            modal: false
        },
        language: 'es',
        legend: [
            {type: 'block', label: 'Envío solicitado', classname:'transporte-envio-solicitado'},
        ]
    });
});

function detalle(id) {
	loader.show();
	$('#entregas-detalle').bootstrapTable('destroy');
	var date = $('#' + id).data('date');
	$('#entregas-detalle').bootstrapTable({
		method: 'get',
		url: BASE_URL + 'api/v1/pedidosdetalle/fecha/' + date,
		columns: [{field:'CVE_DOC',title:'Pedido',sortable:true},{field:'NOMBRE',title:'Cliente',sortable:true},{field:'CVE_ART',title:'Producto',sortable:true},{field:'DESCR',title:'Descripción',sortable:true},{field:'CANT',title:'Cantidad',sortable:true},{field:'CALLE',title:'Calle',sortable:false},{field:'COLONIA',title:'Colonia',sortable:true},{field:'MUNICIPIO',title:'Municipio',sortable:true},{field:'ESTADO',title:'Estado',sortable:true}],
		height: 600,
		striped: true,
		pagination: true,
		pageSize: 25,
		pageList: [10, 25, 50, 100, 200],
		search: true,
		showColumns: true,
		showRefresh: true,
		showExport: true,
		mobileResponsive: true,
		minimumCountColumns: 2
	});
	loader.hide();
}

function guardar() {
    var data = [];
    $(hot.getData()).each(function() {
        if (this[3]) {
            data.push({fechaEntrega:this[0], idUnidad:this[1], idOperador:this[2], cantidad:this[3], producto:$(".producto").html(), pedido:$(".pedido").html()});
        }
    });
    loader.show()
    sincco.consumirAPI('POST','{{constant("BASE_URL")}}api/v1/envio', {data: data})
    .done(function(data) {
        if (data.respuesta) {
            $("#modal").modal("hide");
            toastr.success('Envíos programados.', 'Éxito');
            window.location.reload();
        } else {
            toastr.error('No se pudo guardar la programación.', 'Intenta de nuevo');
        }
        loader.hide();
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log('Error',errorThrown);
        loader.hide();
    });
}

$('#entregas-detalle').on('dbl-click-row.bs.table', function (row, element) {
    loader.show();
    $(".cantidad").html(Number(element.CANT).toFixed(3));
	$(".producto").html(element.CVE_ART + '|' + element.DESCR);
	$(".cliente").html(element.NOMBRE);
    $(".pedido").html(element.CVE_DOC);
    $('#modal').modal({backdrop: 'static', keyboard: false});
    sincco.consumirAPI('GET','{{constant("BASE_URL")}}api/v1/envio/pedido/' + element.CVE_DOC + '/producto/' + element.CVE_ART)
    .done(function(data) {
        var total = 0;
        $(data.respuesta).each(function() {
            total += this.cantidad;
        })
        var resta = Number($(".cantidad").html()) - total;
        $('.cantidad-pendiente').html(resta);
        hot = new Handsontable(document.getElementById('grid-entregas'), {
            data: data.respuesta,
            minSpareRows: 1,
            colHeaders: true,
            rowHeaders: true,
            fixedRowsTop: 0,
            startCols: 4,
            contextMenu: ['remove_row'],
            colWidths: [100,100,250,80],
            colHeaders: ['Fecha', 'Unidad', 'Operador', 'Cantidad'],
            columns: [
                {data:'fechaEntrega', type: 'date', dateFormat: 'YYYY-MM-DD', correctFormat: true},
                {data:'unidad',type: 'dropdown',
                    source: [{% for unidad in unidades %}'{{ unidad.noEco|e}}',{% endfor %}]
                },
                {data:'operador',type: 'dropdown',
                    source: [{% for operador in operadores %}'{{ operador.clave|e}}|{{ operador.nombre|e}}',{% endfor %}]
                },
                {data:'cantidad', type: 'numeric', format: '0,0.000', language: 'en'},
            ], 
            afterChange: function (changes, source) {
                if ((source == 'edit' || source == 'paste')) {
                    if (changes[0][1] == 'cantidad') {
                        var total=0;
                        $(hot.getData()).each(function() {
                            total += this[3];
                        });
                        var resta = Number($(".cantidad").html()) - total;
                        if (resta < 0) {
                            hot.setDataAtCell(changes[0][0], 3, changes[0][3] + resta);
                        }
                        $('.cantidad-pendiente').html(resta);
                    }
                }
            }
        });
        setTimeout(function () {
            hot.render();
            loader.hide();
        }, 1000);
    }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log('Error',errorThrown);
        loader.hide();
    });   
});

</script>

{% include 'footer.html' %}