<header class="wow fadeInLeft">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{constant('BASE_URL')}}">{{constant('APP_NAME')}}</a>
		</div>

		<div class="navbar-collapse collapse navbar-responsive-collapse">
				{% autoescape %}
				{{ menus|raw }}
				{% endautoescape %}
		</div>
	</div>
</header>
<script type="text/javascript">
	$(document).ready(function(){
		$('.dropdown-submenu a.dropdown-toggle').on("click", function(e){
			$(this).next('ul').toggle();
			e.stopPropagation();
			e.preventDefault();
		});
	});
</script>