{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Almacenes</h1>
		<!--<button type="button" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true" onclick="jQuery.redirect(BASE_URL + 'catalogo/almacenes/agregar')"> <span>Nuevo</span></i></button>-->
		<table data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
			<thead>
				<tr>
					<th>Clave</th><th>Descripción</th><th>Encargado</th><th>Teléfono</th>
				</tr>
			</thead>
			<tbody>
				{% for almacen in almacenes %}
				<tr>
					<td>{{ almacen.CVE_ALM|trim }}</td>
					<td>{{ almacen.DESCR|trim }}</td>
					<td>{{ almacen.ENCARGADO|trim }}</td>
					<td>{{ almacen.TELEFONO|trim }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% include 'footer.html' %}