{% spaceless %}
{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Clientes</h1>
		{% if perfil == 1 %}
		<button type="button" class="btn btn-warning"><i class="fa fa-ban" aria-hidden="true" onclick="{{_self.getTemplateName() | replace({ '.html':'' }) | lower }}.mostrarAdeudos()"> <span>Bloquear clientes con adeudos</span></i></button>
		<button type="button" class="btn btn-success"><i class="fa fa-unlock " aria-hidden="true" onclick="{{_self.getTemplateName() | replace({ '.html':'' }) | lower }}.mostrarActivar()"> <span>Activar clientes seleccionados</span></i></button>
		{% endif %}
		<table data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true" id="clientes">
			<thead>
				<tr>
					<th data-field="state" data-checkbox="true" ></th><th data-sortable="true">Clave</th><th data-sortable="true">Nombre</th><th data-sortable="true">Vendedor</th><th data-sortable="true">Estatus</th>
				</tr>
			</thead>
			<tbody>
				{% for cliente in clientes %}
				<tr>
					<td></td>
					<td>{{ cliente.CLAVE|e }}</td>
					<td>{{ cliente.NOMBRE|e }}</td>
					<td>{{ cliente.VENDEDOR|e }}</td>
					<td>{% if cliente.STATUS == 'S' %}Suspendido{% else %}Activo{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="modal-bloqueo" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-8">
						<label>Código de seguridad</label><input type="text" class="form-control" id="2step">
					</div>
					<div class="col-xs-2"></div>
				</div>
				<div class="row">
					<div class="col-xs-4"></div>
					<div class="col-xs-8">
						<button type="button" class="btn btn-danger btn-xs"><i class="fa fa-ban " aria-hidden="true" onclick="{{_self.getTemplateName() | replace({ '.html':'' }) | lower }}.bloquearAdeudos()"><span> Bloquear los clientes con adeudos</span></i></button>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<table data-toggle="table" data-search="true" data-page-size="20" data-pagination="true" data-mobile-responsive="true" data-click-to-select="true" id="notificaciones">
					<thead>
						<tr>
							<th data-field="state" data-checkbox="true" ></th>
							<th data-sortable="true">Cliente</th><th data-sortable="true">Nombre</th><th data-sortable="true">Vendedor</th><th>Correo Vendedor</th><th>Saldo</th>
						</tr>
					</thead>
					<tbody>
						{% for cliente in adeudos %}
						<tr><td></td>
							<td>{{ cliente.CVE_CLIE|e }}</td>
							<td>{{ cliente.NOMBRE|e }}</td>
							<td>{{ cliente.CVE_VEND|e }}</td>
							<td>{{ cliente.CORREO_VENDEDOR|e }}</td>
							<td>{{ cliente.SALDO|number_format(2, '.', ',') }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div id="modal-activar" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-8">
						<label>Código de seguridad</label><input type="text" class="form-control" id="2step2">
					</div>
					<div class="col-xs-2"></div>
				</div>
				<div class="row">
					<div class="col-xs-4"></div>
					<div class="col-xs-8">
						<button type="button" class="btn btn-danger btn-xs"><i class="fa fa-ban " aria-hidden="true" onclick="{{_self.getTemplateName() | replace({ '.html':'' }) | lower }}.activarClientes()"><span> Activar los clientes seleccionados</span></i></button>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

{% include 'footer.html' %}
{% endspaceless %}