{% include 'header.html' %}

<h1>Clientes</h1>
<table data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
	<thead>
		<tr>
			<th>Clave</th><th>Estatus</th><th>Nombre</th>
		</tr>
	</thead>
	<tbody>
		{% for cliente in clientes %}
		<tr>
			<td>{{ cliente.CLAVE|e }}</td>
			<td>{{ cliente.STATUS|e }}</td>
			<td>{{ cliente.NOMBRE|e }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include 'footer.html' %}