{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Perfil de acceso</h1>
		</div>
	</div>

	<div class="row">
		<div class="md-col-6">
			<form>
				<label for="descripcion">Descripcion</label>
				<input type="text" class="form-control col-lg-8" placeholder="descripcion" name="descripcion">
				<br>
				<button type="button" class="btn btn-success" onclick="guardar()">Guardar</button>
			</form>
		</div>
		<div class="md-col-6">
			<div id="tree"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
$('#tree').treeview({data: 
	{% autoescape %}
	{{ opciones|raw }}
	{% endautoescape %}
	, multiSelect: true, selectedBackColor: '#ca4242',
	onNodeSelected: function(event, data) {
		var nodes = data.nodes;
		$(nodes).each(function(){
			$('#tree').treeview('selectNode', [ $(this)[0].nodeId, { silent: true } ]);
		})
	},
	onNodeUnselected: function(event, data) {
		var nodes = data.parentId;
		$('#tree').treeview('unselectNode', [ data.parentId, { silent: true } ]);
	}
});

function guardar() {
	console.log($('#tree').treeview('getSelected'));
}
</script>

{% include 'footer.html' %}