{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Perfiles</h1>
		<button type="button" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true" onclick="jQuery.redirect(BASE_URL + 'catalogo/perfiles/crear')"> <span>Nuevo</span></i></button>
		<table data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
			<thead>
				<tr>
					<th>Descripción</th>
				</tr>
			</thead>
			<tbody>
				{% for perfil in perfiles %}
				<tr>
					<td>{{ perfil.descripcion|e }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% include 'footer.html' %}