{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Agregar Cotización</h1>
	</div>

	<div class="row">

    <input type="hidden" id="vendedor" value="{{constant('SESSION_USERID')}}">
    <input type="hidden" id="email-default" value="pa.ivan.miranda@gmail.com">

    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-3">Cliente</div>
        <div class="col-xs-9">
          <div class="input-group dropdown-input">
            <input type="text" class="form-control dropdown-toggle" placeholder="Cliente...">
            <ul class="dropdown-menu">
              {% for cliente in clientes %}
                <li><a href="#" data-value="{{cliente.CLAVE|trim}} | {{cliente.NOMBRE|trim}}">{{cliente.CLAVE|trim}} | {{cliente.NOMBRE|trim}}</a></li>
              {% endfor %}
            </ul>
            <span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></span>
          </div>
        </div>
      </div>
    </div>

		<div class="col-xs-4">
      <div class="row">
        <div class="col-xs-6">Lista de precios</div>
  		  <div class="col-xs-6">
    			<select id="lista-precio" class="form-control col-xs-6">
    			{% for precio in precios %}
    				<option value="{{precio.CVE_PRECIO|trim}}">{{precio.DESCRIPCION|trim}}</option>
    			{% endfor %}
    			</select>
  		  </div>
      </div>
    </div>

  </div>
  
  <div class="row">

    <div class="col-xs-2">
      <button type="button" class="btn btn-success" onclick="guardar()"><i class="fa fa-hdd-o" aria-hidden="true"><span> Guardar</span></i></button>
    </div>

	</div>

  <hr>

	<div class="row">
		<div id="grid-venta" class="handsontable"></div>
	</div>

</div>

<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modal-titulo" class="modal-title">Buscar producto</h4>
      </div>
      <div class="modal-body">
        <input type="hidden" id="fila-actual">
        <table id="tabla-productos"></table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var dropdownInput =[ 
  {% for cliente in clientes %}
  "{{cliente.CLAVE|trim}} | {{cliente.NOMBRE|trim}}",
  {% endfor %}
];
$(function() {
  $('.dropdown-input > .dropdown-menu a').click(function() {
      $(this).closest('.dropdown-input').find('input').val($(this).attr('data-value'));
    });

  $('.dropdown-input input').keyup(function() {
    var data = $(this).val();
    if(data.length > 2) {
      $('.dropdown-input > .dropdown-menu').empty();
      var result = searchStringInArray(data, dropdownInput);
      $(result).each(function() {
        $('.dropdown-input > .dropdown-menu').append('<li><a href="#" data-value="' + this + '">'+ this + '</a></li>');
      });
      $('.dropdown-input > .dropdown-menu a').click(function() {
        $(this).closest('.dropdown-input').find('input').val($(this).attr('data-value'));
      });
    }
  });
});

function searchStringInArray (str, strArray) {
  var index = [];
  for (var j=0; j<strArray.length; j++) {
    if (strArray[j].match(str)) index.push(strArray[j]);
  }
  return index;
}

var
  grid = document.getElementById('grid-venta'),
  hot

crearTabla();

function crearTabla () {
  hot = new Handsontable(grid, {
    data: [],
    minSpareRows: 1,
    colHeaders: true,
    rowHeaders: true,
    fixedRowsTop: 0,
    startCols: 4,
    contextMenu: ['remove_row'],
    colHeaders: ['Clave', 'Descripcion', 'Unidad', 'Precio', 'Descuento', 'Cantidad', 'Subtotal'],
    columns: [
      {data:'clave'},
      {data:'descripcionCorta',readOnly: false},
      {data:'unidad', readOnly: false},
      {data:'precio', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'descuento', type: 'numeric', format: '0,0.000', language: 'en', readOnly: false},
      {data:'cantidad', type: 'numeric', format: '0,0.000', language: 'en'},
      {data:'subtotal', type: 'numeric', format: '0,0.000', language: 'en', readOnly: true},
    ], 
    afterChange: function (changes, source) {
      if ((source == 'edit' || source == 'paste')) {
        if (changes[0][1] == "clave") {
          if (changes[0][3] == "@@") {
            hot.setDataAtCell(changes[0][0], 1, 'Producto personalizado')
            hot.setDataAtCell(changes[0][0], 2, 'N/A')
            hot.setDataAtCell(changes[0][0], 3, '0.00')
            hot.setDataAtCell(changes[0][0], 4, '0.00')
            hot.setDataAtCell(changes[0][0], 5, 0)
          } else {
            var cve = changes[0][3];
            if (cve.trim() != '') {
              sincco.consumirAPI('POST', '{{constant("BASE_URL")}}catalogo/productos/apiClave', { data: cve.trim(), listaPrecio: $('#lista-precio').val() })
              .done(function(data) {
                if (data.length) {
                  hot.setDataAtCell(changes[0][0], 1, data[0].DESCR);
                  hot.setDataAtCell(changes[0][0], 2, data[0].UNI_MED);
                  hot.setDataAtCell(changes[0][0], 3, data[0].PRECIO);
                  hot.setDataAtCell(changes[0][0], 4, data[0].DESCUENTO);
                  hot.setDataAtCell(changes[0][0], 5, 1);
                } else {
                  hot.setDataAtCell(changes[0][0], 1, 'NO EXISTE')
                  toastr.error('El producto no existe.', 'Intenta de nuevo')
                }
              }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown)
              })
            }
          }
        }
        if (changes[0][1] == "cantidad") {
          var subtotal = parseFloat(hot.getDataAtCell(changes[0][0], 3)) * parseFloat(hot.getDataAtCell(changes[0][0], 5)) * (1-(parseFloat(hot.getDataAtCell(changes[0][0], 4))/100));
          hot.setDataAtCell(changes[0][0], 6, subtotal);
        }
        actualizaTotal()
      }
    }
  })

  hot.updateSettings({
    beforeKeyDown: function (e) {
      var selection = hot.getSelected()
      if (e.keyCode == 113) {
        $('#fila-actual').val(selection[0])
        loader.show()
        e.preventDefault()
        lastChange = null
        e.stopImmediatePropagation();
        $('#tabla-productos').bootstrapTable({
          method: 'get',
          url: '{{constant('BASE_URL')}}catalogo/productos/apicatalogo',
          columns: [{ field:'CVE_ART', title:'Clave' }, { field:'DESCR', title:'Descripcion' }, { field:'UNI_MED', title:'Unidad' }],
          height: 300,
          striped: true,
          pagination: true,
          pageSize: 50,
          pageList: [50, 100, 200],
          search: true,
          showColumns: true,
          showRefresh: true,
          showExport: true,
          mobileResponsive: true,
          minimumCountColumns: 2
        })
        $('#modal').modal('show')
        loader.hide()
      }
    }
  })
}

function actualizaTotal() {
  var totalVenta = 0
  hot.getData().forEach(function(element, index, array) {
    if (!isNaN(parseFloat(element.subtotal))) {
      totalVenta = totalVenta + parseFloat(element.subtotal)
    }
  })
  $('#totalVenta').html(Math.round(totalVenta * 100) /100)
  $('#total').val(Math.round(totalVenta * 100) /100)
  $('#efectivo').val(Math.round(totalVenta * 100) /100)
  $('#tarjeta').val('0.000')
  $('#monedero').val('0.000')
  $('#cambio').val('0.000')
  return true
}

function notificar() {
  $('#myModal').modal('show')
}

function guardar() {
  loader.show()
  var cliente = $('.dropdown-input input').val().split("|");
  if(cliente.length === 1) {
    var idCliente = 0;
    var razonSocial = cliente[0];
  } else {
    var idCliente = cliente[0];
    var razonSocial = cliente[1];
  }
  sincco.consumirAPI('POST','{{constant("BASE_URL")}}ventas/cotizaciones/apiguardar', { data: [{cliente: idCliente, razonSocial: razonSocial, email: $('#email-default').val(), vendedor: $('#vendedor').val(), estatus: 'Nueva', productos: hot.getData() }] })
  .done(function(data) {
    if (data.id) {
      hot.loadData([])
      toastr.success('Cotización ' + data.id + ' generada.', 'Éxito')
      loader.hide()
    } else {
       toastr.error('Hubo un error al guardar los datos.', 'Intenta de nuevo')
       loader.hide()
     }
  }).fail(function(jqXHR, textStatus, errorThrown) {
    console.log('Error',errorThrown)
    loader.hide()
  })
}

function enviar() {
  loader.show()
  sincco.consumirAPI('POST','{{constant("BASE_URL")}}cotizaciones/enviar', { id: $("#venta").val(), correo: $("#correo").val() })
  .done(function(data) {
    loader.hide()
    msgModal.show('info','Correo enviado')
  }).fail(function(jqXHR, textStatus, errorThrown) {
    loader.hide()
    console.log('Error',errorThrown)
  })
}

$('#tabla-productos').on('dbl-click-row.bs.table', function (row, element) {
  hot.setDataAtCell($('#fila-actual').val(), 0, element.CVE_ART)
  $('#modal').modal('hide')
})
</script>
{% include 'footer.html' %}