{% include 'header.html' %}
{% include 'menu.html' %}

<div class="container">
	<div class="row">
		<h1>Cotizaciones</h1>
		<button type="button" class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true" onclick="jQuery.redirect('{{constant('BASE_URL')}}ventas/cotizaciones/agregar')"><span> Nueva</span></i></button>
		<table data-toggle="table" data-search="true" data-show-export="true" data-page-size="20" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true" data-mobile-responsive="true" data-sortable="true">
			<thead>
				<tr>
					<th>Folio</th><th>Fecha</th><th>Cliente</th><th>Estatus</th><th></th>
				</tr>
			</thead>
			<tbody>
				{% for cotizacion in cotizaciones %}
				<tr>
					<td>COT{{ cotizacion.cotizacion|e }}</td>
					<td>{{ cotizacion.fecha|e }}</td>
					<td>{{ cotizacion.razonSocial|e }}</td>
					<td>{{ cotizacion.estatus|e }}</td>
					<td>
						<button type="button" class="btn btn-xs btn-info"><i class="fa fa-eye" aria-hidden="true" onclick="jQuery.redirect('{{constant('BASE_URL')}}ventas/cotizaciones/previo', { id:'{{ cotizacion.cotizacion }}' }, 'POST', '_blank')"><span> Ver</span></i></button>
					{% if cotizacion.estatus != 'Cancelada' %}
						<button type="button" class="btn btn-xs btn-warning"><i class="fa fa-envelope" aria-hidden="true" onclick="$('#modal-envio').modal('show'); $('#id-cotizacion').val({{ cotizacion.cotizacion }});"><span> Enviar</span></i></button>
						<button type="button" class="btn btn-xs btn-danger"><i class="fa fa-trash" aria-hidden="true" onclick="cancelar({{ cotizacion.cotizacion }})"><span> Cancelar</span></i></button>
					{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="modal-envio" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="modal-titulo" class="modal-title">Enviar cotización al cliente</h4>
			</div>
			<div class="modal-body">
				<div class="col-lg-6">
					<div class="input-group input-group-lg">
						<input type="hidden" value="" id="id-cotizacion">
						<input type="text" class="form-control" id="email-cliente" placeholder="correo@cliente.com">
						<span class="input-group-btn">
							<button type="button" class="btn btn-success"><i class="fa fa-envelope" aria-hidden="true" onclick="enviar($('#id-cotizacion').val())"><span> Enviar</span></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
function enviar(idCotizacion) {
	$('#modal-envio').modal('hide')
	loader.show()
	sincco.consumirAPI('POST', '{{constant("BASE_URL")}}ventas/cotizaciones/apienviar', { id: idCotizacion, email: $('#email-cliente').val() })
	.done(function(data) {
		toastr.success('Cotización enviada.', 'Éxito')
		loader.hide()
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al efectuar la operación.', 'Intenta de nuevo')
		loader.hide()
	})
}

function cancelar(idCotizacion) {
	loader.show()
	sincco.consumirAPI('POST', '{{constant("BASE_URL")}}ventas/cotizaciones/apicancelar', { id: idCotizacion })
	.done(function(data) {
		toastr.success('Cotización cancelada.', 'Éxito')
		loader.hide()
	}).fail(function(jqXHR, textStatus, errorThrown) {
		toastr.error('Error al efectuar la operación.', 'Intenta de nuevo')
		loader.hide()
	})
}
</script>

{% include 'footer.html' %}