<?xml version="1.0"?>
<config>
	<app>
		<key>DDD9972D36F1287C0C1A05E2D0C2490A</key>
		<name>Salamandra</name>
		<company>sincco.com</company>
		<timezone>America/Chicago</timezone>
		<version>0.0.1</version>
	</app>
	<front>
		<url>http://sfphp.net/</url>
	</front>
	<bases>
		<default>
			<host>/var/www/html/sfphp/</host>
			<user>sysdba</user>
			<password>lT6Ym0zNPLAsmRC1Heyrlek8x81CQEk7lUAxuMzf0p4=</password>
			<dbname>SAE50EMPRE01.FDB</dbname>
			<type>firebird</type>
		</default>
		<sae>
			<host>mysql.sincco.com</host>
			<user>usuario</user>
			<password>cEgd800Zb4B9hmmuUMMtts7s/hLXyNYva2OLB5olZz4=</password>
			<dbname>usuario</dbname>
			<type>mysql</type>
		</sae>
	</bases>
	<dev>
		<log>1</log>
		<showerrors>1</showerrors>
		<showphperrors>1</showphperrors>
		<cache>0</cache>
	</dev>
	<session>
		<type>DEFAULT</type>
		<name>test</name>
		<ssl>0</ssl>
		<inactivity>60</inactivity>
	</session>
</config>